.login {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: #fff;
  display: flex;
  justify-content: center;
}

.login .login-form {
  margin-top: 25vh;
}